.header-container {
  display: flex;
  align-items: center;
  background-color: navy;
  color: #0000FF;
  padding: 10px;
  justify-content: space-between;
}

.custom-style {
  margin-right: 10px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #0000FF;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #000;
}
